{% set infotext = {
    'green':  "The last balance check is passing.",
    'red':    "The last balance check is failing.",
    'yellow': "The last balance check has not been updated in a while.",
} %}


{% macro indicator(ledger, account) %}
{% set status, last_balance = extension.account_uptodate_status(account) %}
{% set balance_string = ledger.accounts[account].balance_string %}
{% set last_balance_activity = (today() - last_balance).days if last_balance else 0 %}
{% if last_balance_activity > ledger.fava_options.uptodate_indicator_grey_lookback_days %}
  {% set status = "yellow" %}
{% endif %}
<copyable-text class="status-indicator status-{{ status }}" title="{{ infotext[status] }} ({{ last_balance_activity }} day(s) ago)

Click to copy the balance directives to the clipboard:

{{ balance_string }}" data-clipboard-text="{{ balance_string }}"></copyable-text>
{% endmacro %}


{% macro account_name(ledger, account_name, last_segment=False) -%}
<a href="{{ url_for('extension_report', extension_name='JournalExt', account_name=account_name) }}" class="account">
  {{- extension.aname(account_name) -}}
</a>
{%- if ledger.accounts[account_name].uptodate_status %}

{{ indicator(ledger, account_name) }}
{% endif %}
{% endmacro %}

<style>
.tree-table .balance.negative {
  color: var(--budget-negative);
}

.tree-table .balance.positive {
  color: var(--budget-positive);
}

.working {
  font-weight: 500;
}
</style>

<svelte-component type="charts"><script type="application/json">{{
  [
    chart_api.net_worth(),
    chart_api.hierarchy(ledger.options['name_assets']),
    chart_api.hierarchy(ledger.options['name_liabilities']),
  ]|tojson
}}</script></svelte-component>


{% set table = extension.make_table2() %}

{% macro acct_tree(root) %}
<tree-table>
  <ol class="flex-table tree-table" title="{{ _('Hold Shift while clicking to expand all children.\nHold Ctrl or Cmd while clicking to expand one level.') }}">
    <li class="head">
      <p>
      <span class="account-cell"><button type="button" class="link expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</button></span>
      <span class="num">Total</span>
      <span class="num">Cleared</span>
      <span class="num">Working</span>
      </p>
    </li>
    {% set currency = ledger.options.operating_currency[0] %}
    {% set end_date = g.filtered.end_date %}
    {% for account, (_, children) in [(root, extension.tree(root))] recursive %}
    {% set acct = table[account] %}
    <li{{ ' class=toggled' if account.name|collapse_account else '' }}>
      <p>
      <span class="account-cell depth-{{ loop.depth0 }} droptarget{{ ' has-children' if children else '' }}" data-account-name="{{ account }}">
        {{ account_name(ledger, account, last_segment=True) }}
      </span>
      {% for type in ("total", "cleared", "working") %}
        {% set balance = (acct[type]|cost_or_value(end_date)).amounts()|list %}
        {% set balance_children = (acct.children[type]|cost_or_value(end_date)).amounts() %}
        <span class="num{{ ' has-balance' if balance|length else '' }}">
          {% for amount in balance %}
            {% set num = amount.number %}
            <span class="balance{{ ' positive' if num > 0 else ' negative' if num < 0 else '' }} {{ type }}">
              {{ amount.number | format_currency(amount.currency) }}
              {{ amount.currency if amount.currency != currency else "" }}
            </span>
          {% endfor %}
          {% for amount in extension.show_if_zero(balance_children) %}
            {% set num = amount.number %}
            <span class="balance-children">
              {{ amount.number | format_currency(amount.currency, show_if_zero=True) }}
              {{ amount.currency if amount.currency != currency else "" }}
            </span>
          {% endfor %}
        </span>
      {% endfor %}
      </p>
      {% if children %}
  <ol>{{- loop(children.items()) -}} </ol>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</tree-table>
{% endmacro %}

<div class="row">
  <div class="column">
    {{ acct_tree(ledger.options['name_assets']) }}
  </div>
  <div class="column">
    {{ acct_tree(ledger.options['name_liabilities']) }}
  </div>
</div>
